a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    padding: 0.05em 0.05em;
    background-color: white;
}
#portfolio{
    font-size:large;
    font-weight: bolder;
  
}

#contacts{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}
#contacts :hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);

}
#links{
    display: flex;
    position: relative;
    flex-shrink: 2;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}
#links a:hover{
    color:rgb(255, 0, 0);
    text-decoration: double underline;
    transition: 0.3s;
}
main{
    padding: 4em 4em;
    background-color: rgb(185, 178, 178);
    color:white;
    
}
h1{
    text-align: center;
    text-decoration: underline;
}