a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    padding: 0.05em 0.05em;
    background-color: white;
}
#portfolio{
    font-size:large;
    font-weight: bolder;
  
}
#contacts a:hover{
    color:black;
    transition: 0.3s;

}
#contacts{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}
#links{
    display: flex;
    position: relative;
    flex-shrink: 2;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}
#links a:hover{
    color:rgb(255, 0, 0);
    text-decoration: double underline;
    transition: 0.3s;
}
main{
    background-color: rgb(185, 178, 178);
    padding: 5em;
}
.contact{
    margin: 6em 30em;
    padding:2em;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 50px;
}
h1{
    text-decoration: underline;
}
.contact-info{
    display: flex;
    flex-direction: column;
    margin: 4em
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mail, .phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: large;
}



