a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("Assets/");
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    padding: 0.05em 0.05em;
    background-color: white;
}

#links{
    display: flex;
    position: relative;
    flex-shrink: 2;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
    
}

#mainpage{
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(185, 178, 178);
}
img{
    border-radius: 50px;
    
}
#aboutMe{
    margin-top: 6em;
    
}
#buttons{
    display: flex;

    margin-top: 4em;
    gap: 3em;
    font-weight: bold;
}

#linkedInBtn a{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}

#projectBtn a{
    padding: 0.5em;
    border: 1px solid rgb(168, 168, 168);
    background-color: rgb(168, 168, 168);
    width: 4em;
    border-radius: 50px;
    color:white;
}
#portfolio{
    font-size:large;
    font-weight: bolder;
  
}
#contacts{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}
#quote{
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    margin: 0em 0.5em;
    flex-wrap: wrap;
}
.quotes{
    align-items: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}



