a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    padding: 0.05em 0.05em;
    background-color: white;
}
#portfolio{
    font-size:large;
    font-weight: bolder;
  
}
#contacts a:hover{
    color:black;
    transition: 0.3s;

}
#contacts{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}
#links{
    display: flex;
    position: relative;
    flex-shrink: 2;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}
#links a:hover{
    color:rgb(255, 0, 0);
    text-decoration: double underline;
    transition: 0.3s;
}

main{
    background-color: rgb(185, 178, 178);
    
}
#projects{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0% 20%;
    padding-top: 5em;
    padding-bottom: 5em;
}
.project{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0 4px 8px;
    padding: 1em;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 10em;
    background-color: white;
    
}
.project {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

  
