a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("Assets/");
    background-size:auto;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
    padding: 0.05em 0.05em;
    background-color: white;
}
#portfolio{
    font-size:large;
    font-weight: bolder;
  
}
#contacts{
    padding: 0.5em;
    border: 1px solid red;
    background-color: red;
    width: 4em;
    border-radius: 50px;
    text-decoration: none;
    color:white;
}
#links{
    display: flex;
    position: relative;
    flex-shrink: 2;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}
main{
    margin: 6em 30em;
}

#cv a{
    border: 1px solid black;
    padding: 1em;
    background-color: lightgray;
    border-radius: 35px;
    }
#cv{
    margin: 3em 0em;
}
#cv :hover{
    background-color: darkgray;
    transition: 0.3s;

}
.arrow{
    width: 1rem;
    height: 1rem;
    align-self: center;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid black;
    background-color: lightgray;
    width: 10em;
    border-radius: 50px;
    text-decoration: none;
    color:black;
}